/* CSS files add styling rules to your content */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
}

#errorOutput {
  color: red;
}

canvas {
  position: absolute;
}

video {
  display: none;
}
